/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: white;
  font-size: 62.5%;
  line-height: 1.4;
  font-family: sans-serif;
}
body{
  font-family: 'Open Sans', sans-serif;
}

header,
footer {
  background-color: #202322;
  color: white;
  font-family:
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}


header {
    padding: 1.5rem 0;
}

header h1 {
  font-size: 5rem;
  text-align: left;
  padding: 0 2rem;
}

.topheader {
  width: 90%;
  padding: 0 2rem;
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid grey;
  justify-content: center;
}

.bottomheader {
  background: url("../assets/jake-melara-30679-unsplash.jpg");
  flex: 1 1 1200px;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.content-wrapper {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header nav {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  list-style: none;
  text-decoration: none;
}

nav ul {
  width: 90%;
  justify-content: flex-end;
  display: flex;
  list-style: none;
  text-decoration: none;
}

nav li a {
  text-decoration: none;
  justify-content: space-between;
  flex-flow: row;

  padding: 0 2rem;
  font-size: 1.5rem;
  color: #e2e3ed;
}

a:hover {
  color: orange;
}

.mission{
  background-color: #527158;
  background-size: cover;
  font-size: 1.3rem;
}

.mission-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0rem 5rem 1rem 5rem;
  }
.mission h2{
  text-align: center;
  background-color: #527158;
  background-size: cover;
  font-size: 200%;
  margin: 0 0 0 0;
}
.mission-content p {
        width: 50%;
        line-height: 150%;
        padding: 1rem 1rem 1rem 1rem;
  }
.frequently h2{
    width: 100%;
    text-align: center;
    background-color: #527158;
    background-size: cover;
    font-size: 200%;
    margin: 0 0 0 0;
}
.faqh2 {
    width: 100%;
    text-align: center;
    background-color: #527158;
    background-size: cover;
    font-size: 200%;
    margin: 0 0 0 0;
}
.fmission{
  display:grid;
  grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 50px;
  grid-template-rows: 1fr;
  padding: 0 1% 0 10%;
  background-color: #527158;
  background-size: cover;
  font-size: 1.3rem;
  height: 80vh;
}
.fmission-content {
  text-align: left;
  font-size:150%;
}
section h2{
    background-size: cover;
    font-size: 250%;
    text-align: center;
    margin: 0 0 0 0;
    padding-top: 6%;
    padding-bottom: 3%
}
.map figure {
    width: 100%;
    height: 0;
    padding-bottom: 80%;
    overflow: hidden;
    position: relative;
}

.map iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.contact-section{
  background-color: #2a423a;
  font-size: 1.3rem;
  font-family: 'Poppins', sans-serif;
  margin:0;
}
.reviewsabout{
  background-color: #202322;
  color: white;
}

.aside {
  background-color: #527158;
  height: 40rem;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.writing {
      box-sizing:border-box;
      font-size: 2rem;
      padding: 0 2rem 0 2rem;
      font-family: 'Poppins', sans-serif;
  }

.form {
    max-height: 60rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
  }


.form-email {
  text-align: center;
  box-sizing: border-box;
  height: 3rem;
  width: 32rem;
  color: grey;
  background-color: #fff;
}

.form-btn {
  text-align: center;
  box-sizing: border-box;
  height: 3rem;
  width: 32rem;
  color: grey;
  background-color: #2a423a;
}

.form-btn:hover {
  color: orange;
}

.fontawesome-icon i {
  height: 100%;
}

.features {
  background-image: url("../assets/rawpixel-800820-unsplash1.jpg");
  padding-left: 2rem;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }

.features-title {
  text-align: center;
  display:block;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
}

.features-items {
  padding: 10rem 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
  font-size: 1.4rem;
  box-sizing: border-box;
  flex-flow: column;

}

.fontawesome-icon i {
  width: 8rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.reviews {
  background-color: #2a423a;
  margin: 0 auto;
  color: inherit: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding: 2rem 2rem;
  text-align: center;
  flex-direction: column;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
}

.topreviews {
  box-sizing: border-box;
  background-color: #2a423a;
  margin: 0 auto;
  color: inherit: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding: 2rem 2rem;
  text-align: center;
  flex-direction: column;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
}
}

.article {
  flex:1;
}

img {
  width: 100%;
  align-items: center;
  align-content: center;
}


footer .content-wrapper {
    font-size: 1.5rem;
    margin: 5rem 0;
    padding-left:25%;
    padding-right: 25%;
}

footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-icons p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  width: 4rem;

}

footer i{
  color: white;
  width: 5%;
  height: 5%;
}
.fa-instagram:hover{
  color: #517fa4;
}
.fa-facebook:hover{
  color: #3b5998;
}
.fa-twitter:hover{
  color: #00cced;
}

footer .copyright p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {

  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " ("attr(href) ")";
  }

  abbr[title]:after {
    content: " ("attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
